.purchase {
    border: 1px solid gainsboro;
    border-radius: 3px;
}

.time {
    text-align: left;
}

.amount {
    font-weight: bold;
    font-size: large;
    text-align: right;
}

li {
    padding: 8px;
    margin-bottom: 8px;
}

ul {
    margin: 8px;
    list-style-type: none;
    padding: 0;
}